{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    {% if edite %}
        <h1>Edite Page</h1>
    {% else %}
        <h1>Create New Page</h1>
    {% endif %}

    <form class="create-form" method="POST" {% if edite %} action={% url 'create-page' %} {% endif %}>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button>Send</button>
    </form>

{% endblock %}